.front-page-slider{
  display: flex;
  align-items:center;
  height: 300px;
}
.front-page-slider a{
  color: #9E9E9E;
}
.front-page-slider:nth-child(2){
  background: #d4d4d4;
}
.front-page-slider:nth-child(2) a{
  color: white;
}
.front-page-slider .product-thumbnail{
  flex: 1 1 0px;
}
.front-page-slider .product-thumbnail a{
  height: 300px;
  display:block;
}
.front-page-slider .product-info{
  text-align:center;
  flex: 1 1 0px;
}
.front-page-slider .product-more-link{
  width:165px;
  display: block;
  text-decoration: none;
  border: solid 1px #e57343;
  margin: 0 auto;
  padding: 3px;
  font-size: 14px;
  border-radius: 11px;
}
.front-page-slider .product-title{
  display:block;
}
.front-page-slider .product-title a{
  color:black;
  text-decoration:none;
  font-family: 'Ubuntu';
  font-size: 40px;
}
.front-page-slider:nth-child(2) > .product-thumbnail {
  order: 2;
}
.front-page-slider:nth-child(2) > .product-info{
  order: 1;
}
