/*Grid Maximus in container sum's maximus must be 12*/
#site-navigation{
  width: 90vw;
  height: 45px;
  margin: 20px 0px 0px 25px;
  position: absolute;
  z-index: 9999999;
  background-color: white;
  padding: 0px 20px 0px 0px;
}
.main-nav-style{
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: flex-start;
  justify-content: flex-start;
}
.main-nav-style #home-button{
  padding: 14px 5px;
  flex: 3 1 0px;
}
.main-nav-style #hamburger{
  color: white;
  display: flex;
  background: #f1652f;
  font-size: 25px;
  padding: 6px 8px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}
.main-nav-style #primary-menu{
  padding: 11px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 8 1 0px;
  flex-direction: row-reverse;
}
#primary-menu li {
  margin: 0px 10px 0px 0px;
}
#primary-menu li a{
  color: #7b7b7b;
}

#primary-menu li:hover > a{
  color: #c3643f;
}
.sub-menu {
  display:block;
  position:static;
  width: 90vw;
  height: 100px;
  margin: 0 auto;
  background: #f1652f;
}
.sub-menu-block{
  display:block;
  height: 100px;
}

.SlideshowWidget {
	margin: 0px !important;
}
